<!doctype html>
<!-- UI page -->
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>GitHub Events UI</title>
    <meta name="description" content="GitHub Events UI">
    <meta name=" author" content="SitePoint">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

    <h1> Recent Activity</h1>
    <div id="events">
        <!-- Recent Activity will get updated here -->
    </div>

    <script src="../static/js/scripts.js"></script>
</body>

</html>